jax
jaxlib
jupyter
numpy
matplotlib
scikit-learn
scipy
graphviz
distrax
pandas
TexSoup
firebase_admin
regex
umap-learn
flax
optax
tensorflow
tensorflow_probability.substrates.jax
tensorflow_probability
functools
tqdm
blackjax
regdata
